@using SpelDatabas;

@{
   var db = new SpelDatabas.SpelDatabasContainer();
}


<div class="row">
   <div class="col-md-6 col-sm-12">
      @if (db.UtgivareSet.Count() > 0)
      {
         <h3>Utgivare</h3>
         <table class="table">
            <tr>
               <th>Id</th>
               <th>Namn</th>
               <th>Utgivna spel</th>
            </tr>
            @foreach (var utgivare in db.UtgivareSet)
            {
               <tr>
                  <td>@utgivare.Id</td>
                  <td>@Html.ActionLink(utgivare.Namn, "EditPublisher", new { id = utgivare.Id })</td>
                  @if (utgivare.Produkt.Count() > 0)
                  {
                     <td>
                        @foreach (var utgSpel in utgivare.Produkt)
                        {
                           <p class="cellEntity">@Html.ActionLink(utgSpel.Namn, "EditGame", new { id = utgSpel.Id })</p>
                        }
                     </td>
                  }
                  else
                  {
                     <td>Inga spel utgivna.</td>
                  }
                  <td>@Html.ActionLink("Ta bort", "DeletePublisher", new { id = utgivare.Id })</td>
               </tr>
            }
         </table>
      }
   </div>
   <div class="col-md-6 col-sm-12">
      <h3>Skapa ny utgivare</h3>
      @using (Html.BeginForm("CreatePublisher", "Admin", FormMethod.Post))
      {
         @Html.Editor("Name", null, new { @class = "form-control" })
         <input type="submit" class="btn btn-default" value="Skapa utgivare" />
      }
   </div>
</div>

<hr class="featurette" />

<div class="row">
   <div class="col-md-6 col-sm-12">
      @if (db.KonsolSet.Count() > 0)
      {
         <h3>Konsoler</h3>
         <table class="table">
            <tr>
               <th>Id</th>
               <th>Namn</th>
               <th>Spel</th>
            </tr>
            @foreach (var konsol in db.KonsolSet)
            {
               <tr>
                  <td>@konsol.Id</td>
                  <td>@konsol.Namn</td>
                  @if (konsol.Produkt.Count() > 0)
                  {
                     <td>
                        @foreach (var konsolSpel in konsol.Produkt)
                        {
                           <p class="cellEntity">
                              @Html.ActionLink(konsolSpel.Namn, "EditGame", null, new { id = konsolSpel.Id, title = "Id: " + konsolSpel.Id + " Namn: " + konsolSpel.Namn + " Släppt: " + konsolSpel.Utgivningsår + " Konsoler: " + konsolSpel.Konsol.Count() }) av
                              @Html.ActionLink(konsolSpel.Utgivare.Namn, "EditPublisher", new { id = konsolSpel.Utgivare.Id })
                           </p>
                        }
                     </td>
                  }
                  else
                  {
                     <td>Inga spel.</td>
                  }
                  <td>@Html.ActionLink("Ta bort", "DeleteConsole", new { id = konsol.Id })</td>
               </tr>
            }
         </table>
      }
   </div>
   <div class="col-md-6 col-sm-12">
      <h3>Skapa ny konsol</h3>
      @using (Html.BeginForm("CreateConsole", "Admin", FormMethod.Post))
      {
         @Html.Editor("Name", null, new { @class = "form-control" })
         <input type="submit" class="btn btn-default" value="Skapa konsol" />
      }
   </div>
</div>

<hr class="featurette" />

<div class="row">
   <div class="col-md-6 col-sm-12">
      @if (db.GenreSet.Count() > 0)
      {
         <h3>Genres</h3>
         <table class="table">
            <tr>
               <th>Id</th>
               <th>Namn</th>
               <th>Spel i genre</th>
            </tr>
            @foreach (var genre in db.GenreSet)
            {
               <tr>
                  <td>@genre.Id</td>
                  <td>@genre.Namn</td>
                  @if (genre.Produkt.Count() > 0)
                  {
                     <td>
                        <p class="cellEntity">@genre.Produkt.Count()</p>
                     </td>
                  }
                  else
                  {
                     <td>Inga spel i genren.</td>
                  }
                  <td>@Html.ActionLink("Ta bort", "DeleteGenre", new { id = genre.Id })</td>
               </tr>
            }
         </table>
      }
   </div>
   <div class="col-md-6 col-sm-12">
      <h3>Skapa ny genre</h3>
      @using (Html.BeginForm("CreateGenre", "Admin", FormMethod.Post))
      {
         @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" }})
         <input type="submit" class="btn btn-default" value="Skapa genre" />
      }
   </div>
</div>

<hr class="featurette" />

<div class="row">
   @if (db.ProduktSet.Count() > 0)
   {
      <h3>Spel</h3>
      <table class="table">
         <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Beskrivning</th>
            <th>Utgivningsår</th>
            <th>MP</th>
            <th>SP</th>
            <th>Pris</th>
            <th>Utgivare</th>
            <th>Konsoler</th>
            <th>Genres</th>
            <th>Aktiv order antal</th>
         </tr>
         @foreach (var spel in db.ProduktSet)
         {
            <tr>
               <td title="Spelets Id">@spel.Id</td>
               <td title="Spelets jävla namn">@Html.ActionLink(spel.Namn, "EditGame", new { id = spel.Id })</td>
               <td title="@spel.Beskrivning">För musen över mig..</td>
               <td title="När det släpptes">@spel.Utgivningsår</td>
               <td title="Multipläjer">@Html.CheckBox("checkboxMP", spel.Multiplayer)</td>
               <td title="Singlpläjer">@Html.CheckBox("checkboxSP", spel.Singleplayer)</td>
               <td title="Spelet kostar faktiskt såhär mycket">@spel.Pris:-</td>
               <td title="Id: @spel.Utgivare.Id, Spel: @spel.Utgivare.Produkt.Count()">@Html.ActionLink(spel.Utgivare.Namn, "EditPublisher", new { id = spel.Utgivare.Id })</td>
               @if (spel.Konsol.Count() > 0)
               {
                  <td>
                     @foreach (var konsol in spel.Konsol)
                     {
                        <p class="cellEntity">@konsol.Namn</p>
                     }
                  </td>
               }
               else
               {
                  <td>Ingen.</td>
               }
               @if (spel.Genre.Count() > 0)
               {
                  <td>
                     @foreach (var genres in spel.Genre)
                     {
                        <p class="cellEntity">@genres.Namn</p>
                     }
                  </td>
               }
               else
               {
                  <td>Ingen genre.</td>
               }
               @if (spel.SpelPerOrder.Count() > 0)
               {
                  <td>
                     @foreach (var spelOrder in spel.SpelPerOrder)
                     {
                        <p class="cellEntity">Id: @spelOrder.OrderId, @spelOrder.Antal st</p>
                     }
                  </td>
               }
               else
               {
                  <td>Finns inte i någon order.</td>
               }
               <td>@Html.ActionLink("Ta bort", "DeleteGame", new { id = spel.Id })</td>
            </tr>
         }
      </table>
   }
</div>


@using (Html.BeginForm("CreateGame", "Admin", FormMethod.Post))
{
   <div class="row">
      <h3>Skapa spel</h3>
      <div class="col-md-2 col-sm-4">
         <div class="form-group">
            @Html.Label("Namn")<br />
            @Html.TextBox("Name", null, new { @class = "form-control" })
         </div>
         <div class="form-group">
            @Html.Label("Utgivare")
            @Html.DropDownList("UtgivareId", db.UtgivareSet.Select(u => new SelectListItem { Text = u.Namn, Value = u.Id.ToString() }).OrderBy(o => o.Text), new { @class = "form-control" })
         </div>
         <div class="form-group">
            @Html.Label("Utgivningsår")
            @Html.Editor("Utgivningsår", new { htmlAttributes = new { @class = "form-control", style = "width:60%;" } })
         </div>
         <div class="form-group">
            @Html.Label("Pris")
            @Html.Editor("pris", new { htmlAttributes = new { @class = "form-control", style = "width:60%;" } })
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
         <div class="form-group">
            @Html.Label("Vilka konsoler?")
            @Html.ListBox("Konsoler", db.KonsolSet.Select(k => new SelectListItem { Text = k.Namn, Value = k.Id.ToString() }).OrderBy(o => o.Text), new { @class = "form-control", style = "height:178px;" })
         </div>
         <div class="form-group">
            @Html.Label("Multiplayer")
            @Html.CheckBox("multiplayer", new { htmlAttributes = new { @class = "form-control" } })
         </div>
         <div class="form-group">
            @Html.Label("Singleplayer")
            @Html.CheckBox("singleplayer", new { htmlAttributes = new { @class = "form-control" } })
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
         <div class="form-group">
            @Html.Label("Genre")
            @Html.ListBox("Genres", db.GenreSet.Select(g => new SelectListItem { Text = g.Namn, Value = g.Id.ToString() }).OrderBy(o => o.Text), new { @class = "form-control", style = "height:178px;" })
         </div>
      </div>
      <div class="col-md-3 col-sm-6">
         <div class="form-group">
            @Html.Label("Beskrivning")
            @Html.TextArea("Beskrivning", new { @class = "form-control", style = "height:178px;" })
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3 col-sm-6">
         <input type="submit" class="btn btn-primary" value="Skapa spel" />
      </div>
   </div>
}