@model SpelAffaren.Models.TheShopModel

@{
    ViewBag.Title = "TheShop";
}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript">
    @*var app = angular.module('spelaffar', [])

    @*.controller("shopcontroller")
        {
            $scope.gameproducts = set(@Html.Raw(Json.Encode(Model)));
            alert($scope.gameproducts);
        }*@

        @*function shopcontroller($scope) {
            $scope.gameproducts = set(@Html.Raw(Json.Encode(Model)));
            alert($scope.gameproducts);

        }*@
        function removefromcart(item) {
            //alert(item)
            var data = document.getElementById(item);
            //alert(data.value)
            $.ajax({
                url: "/Home/RemoveProdukt",
                type: "POST",
                data: { id: data.value },
                success: function (result) {
                    alert(result);
                    $('#CartPlacer').html(result);
                }
            })

        }

        function AddToCart(item) {
            //alert(item)
            //var data = document.getElementById(item);
            //alert(data.value)
            $.ajax({
                url: "/Home/AddProdukt",
                type: "POST",
                data: { sp: item },
                success: function (result) {
                    alert(result);
                    $('#CartPlacer').html(result);
                }
            })

        }

        function GetGenre(genre)
        {
            $.ajax({
                url: "/Home/GetByGenre",
                type: "POST",
                data: { Genre: genre },
                success: function (result) {
                    alert(result);
                    $('#ProductsPresentation').html(result);
                }
            })
        }

        function UpdateList() {
            var antalitem = document.getElementsByClassName("itemantal");
            var produktid = document.getElementsByClassName("updatefunc");

            var produkt = [];

            var json = "";
            //alert(antalitem + " " + produktid);
            for (i = 0; i < produktid.length; i++) {
                var item = {
                    "antal": antalitem[i].value,
                    "id": produktid[i].value
                }
                produkt.push(item)
            };
            //alert(antalitem + " " + produktid);
            //for (i = 0; i < produkt.length; i++) {
            //    alert(produkt[i].id + " " + produkt[i].antal);
            //};
            produkt = JSON.stringify({ 'produkt': produkt });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Home/UpdateCart',
                data: produkt,
                success: function (result) {
                    $('#CartPlacer').html(result);
                },
                //failure: function (response) {
                //    $('#result').html(response);
                //}
            });
        }
        </script>
        <h2>TheShop</h2>
        <div id="CartPlacer">
            @Html.Partial("ShoppingCart", Model.Cart)
        </div>

<h4>Här är våra genrer</h4>
<table>
    <tr>
        <th>
          
        </th>
        <th>

        </th>
    </tr>
    @foreach(var b in Model.AvaliableGenre)
    { 
    <tr>
        <td>
            <input type="button" value="@b.Namn" onclick="GetGenre(@b.Id)" />
        </td>
       
    </tr>
    }
</table>
        <h3>Här är våra varor. Va Coolt!</h3>

        <div id="ProductsPresentation">
            @Html.Partial("Products",Model.ProductsInCategory)
        </div>



